.ppq{
    padding: 100px;
    font-family: cursive;
    background-color: rgb(255, 159, 127);
}
.ppq1{
    width: 50%;
    padding-left: 300px;
}
.qwe{
    border-radius: 15px;
    height: 35px;
}

.tyu{
    padding-top: 15px;
}

.qwe11{
    color: red;
}