body{
  margin: 0;
  background-image: url(../asus1.png);
  background-repeat:repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
}



.contact11 {
    width: 100%;
    height: 900vh;
    display: flex;

    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: 100%;
   }

  
  
  .contact11 .leftSide {
    height: 100%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form22 {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500%;
    padding: 30px;
    padding-top: 10px;
  }
  
.form22 input{
  width: 20%;
  height: 40px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 20px 0px rgb(167, 123, 123);
  color: #0e0ed9;
  border-bottom: 2px solid #0e0ed9;
  background-color: #fff;
  padding-left: 20px;
  border: 3px solid rgb(94, 217, 244);

}

  .sub5{
    padding-top: 5px;
  }

  .form22 textarea {
    
    padding-left: 20px;
    border-radius: 9px;
    margin-top: 15px;
    height: 70px;
    width: 20%;
    border: none;
    border-bottom: 1px solid rgb(235, 9, 9);
    color: rgb(0, 0, 0);
    border: 3px solid rgb(94, 217, 244);
  }

  input::placeholder  {
    font-weight: bold;
    color: rgb(84, 31, 230);
    font-family: Arial, Helvetica, sans-serif;
  }
  textarea::placeholder {
    font-weight: bold;
    color: rgb(234, 13, 13);
    font-family: Arial, Helvetica, sans-serif;
    
  }


  .form22 input:focus,
  textarea:focus {
    outline: none;
  }
  
  .form22 label {
    margin-top: 15px;
    color: grey;
  }
  
  .form22 .bbut {
    margin-top: 40px;
    width: 140px;
    height: 40px;
    border: none;
    background-color: #1c5327;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
    border: 3px solid rgb(94, 217, 244);

  }
.pic {
  padding-top: 25px;
}



  .img {
    border: 3px solid rgb(94, 217, 244);
    border-radius: 8px;
    /* padding: 5px; */
    width: 700px;
    display: flex;
    /* margin-top:2px; */
    margin-left:36%;
    /* margin-right: auto; */
  }

  h2, h3{
    color: green;
  }

  .kp{
    color: aliceblue;
  }