.wel{
    color: rgb(54, 83, 50);
    font-size: 45px;
    padding-left: 400px;

}

.welcome {
    padding-left: 150px;
    padding-top: 60px;
    
}

.ww{
    padding: 30px;
}

.yy{
    padding-left: 400px;
}

.img12{
    height: 300px;
    width: 300px;
    border-radius: 50px;
    
}