.payform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: auto; */
    /* width: auto; */
    height: 650px;
    color:white;
    background-image: linear-gradient(360deg, hsla(183, 87%, 45%, 1) 0%, rgb(33, 33, 33) 100%);
}

.payform-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.payform-container input{
    width:300px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    margin: 15px;
    box-shadow: 1px 3px 10px rgb(40, 40, 40);
    
}

.payform-container select{
    width:300px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    margin: 15px;
    box-shadow: 1px 3px 10px rgb(40, 40, 40); 
}

.Payment-Button{
      width: 150px;
      height: 35px;
      margin-top: 40px;
      background-color: white;
      color:rgb(0, 0, 0);
      font-size: medium;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
      border-color: white;
      box-shadow: 1px 2px 10px rgb(40, 40, 40); 
      vertical-align: middle;
      border-radius: 10px;
    }
    
.Payment-Button:hover
    {
      cursor: pointer;
      background-color: rgb(23, 23, 23);
      border-color:black;
      color:whitesmoke;
    }
