.Booktik{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.Booktik control{
    width: 300px;
    
}

.Booktik button{
    width: 300px;
    border-radius: 15px;
    
}

#box3{

    padding-top: 50px;
}

#Container2{
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    box-shadow: 0 15px 25px rgba(171, 153, 153, 0.2);
    height: 450px;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding : 10px;
    padding-bottom: 20px;
    /* justify-content: flex-start; */
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#lab1{
    align-items: flex-start
}
